.container {
  max-width: 50%;
  margin: auto;
  padding-top: 4em;
}

.containerJobs {
  max-width: 65%;
  margin: auto;
  padding-top: 4em;
}

.backToHomeDiv {
  display: flex;
  height: 8em;
  width: auto;
  padding: 50px 0 0 50px;
}

.backToHome {
  color: white;
  height: 50px;
  width: 50px;
}

.fullContainer {
  height: 100vh;
  background: url(/images/StarrySky.gif) no-repeat;
  background-size: cover;
}

.homeFooter {
  display: flex;

  height: 5em;
  min-width: 100vw;
  position: absolute;
  bottom: 0;
}

.fontAw {
  color: white;
  height: 2em;
  width: 2em;
}

.footerDiv {
  display: flex;
  height: 4em;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}


