.headerDiv {
  display: flex;
  height: 8em;
  width: auto;
  padding: 50px 0 0 50px;
}

.borderCircle {
  border-radius: 9999px;
  border: 5px solid #ffffff;
}

.strHome {
  font-family: power clear;
  text-align: center;
  font-size: 26px;
  color: #ffffff;
}

.strHomeAnd {
  font-family: power clear;
  font-size: 24;
  color: #ffffff;
}

.myName {
  font-family: Arcadepix;
  color: #08c0e9;
}

.highlightedText {
  color: #08c0e9;
}

.headingPres {
  font-family: power clear;
  text-align: center;
  color: #ffffff;
}

.buttom {
  font-family: power clear;
  color: white;
  background-color: rgba(255, 255, 255, 0.09);
  font-size: 24px;
  letter-spacing: 2px;
  width: 136px;
  height: 42px;
  border: 2px solid white;
}

.buttonsSection {
  display: flex;
  justify-content: space-around;
  margin: 2em 11em;
}

.aboutText {
  display: flex;
  justify-content: center;
  font-family: power clear;
  font-size: 26px;
  color: #ffffff;
}

.pageBackground {
  height: 100vh;
  background: url(/images/StarrySky.gif) no-repeat;
  background-size: cover;
}

.worksComponentDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 10%;
  max-width: 100rem;
  min-height: 40rem;
  padding-top: 8em;
  background-color: rgba(255, 255, 255, 0.09);
}
.workComponent {
  opacity: 0.1;
}
