.headerDiv {
  display: flex;
  height: 8em;
  width: auto;
  padding: 50px 0 0 50px;
}

.fullContainer {
  height: 100vh;
  background: url(/images/StarrySky.gif) no-repeat;
  background-size: cover;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderCircle {
  border-radius: 9999px;
  border: 5px solid #ffffff;
}

.strHome {
  font-family: "Noto-Sans";
  text-align: center;
  font-size: 26px;
  color: #ffffff;
}

.strHomeAnd {
  font-family: "Noto-Sans";
  font-size: 24;
  color: #ffffff;
}

.myName {
  font-family: "MandaloreRegular";
  color: #08c0e9;
  letter-spacing: 2px;
}

.highlightedText {
  color: #08c0e9;
}

.headingPres {
  font-family: "MandaloreRegular";
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}

.buttom {
  font-family: "MandaloreRegular";
  color: white;
  background-color: rgba(255, 255, 255, 0.09);
  font-size: 22px;
  letter-spacing: 2px;
  width: 136px;
  height: 42px;
  border: 2px solid white;
}

.buttonsSection {
  display: flex;
  justify-content: space-around;
  margin: 2em 11em;
}

.aboutText {
  display: flex;
  justify-content: center;
  font-family: "Noto-Sans";
  font-size: 26px;
  color: #ffffff;
}

.pageBackground {
  height: 100vh;
  background: url(/images/StarrySky.gif) no-repeat;
  background-size: cover;
}

.worksComponentDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 0 10%;
  max-width: 100rem; */
  min-height: 25rem;
  background-color: rgba(255, 255, 255, 0.02);
}

.workComponent {
  min-height: fit-content;
  width: 30%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  text-align: center;
  font-family: "MandaloreRegular";
  color: #08c0e9;
  font-size: 24px ;
  letter-spacing: 1px;
}

.jobImage {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  border: 5px solid rgba(8, 192, 233, 0.5);
  object-fit: cover;
}

.techIcons {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

.techIcon {
  color: white;
  height: 2em;
  width: 2em;
}

.linkNames {
  color: #08c0e9;
}